## BASE IMAGE
base_registry='registry.hrz.uni-marburg.de'
base_image_path=''
base_tag=''

## TARGET IMAGE
target_registry='registry.hrz.uni-marburg.de'
target_image_path=''
target_tag=''

## UNIMR CONFIG
docker_tls_config='host=tcp://docker:2376,ca=/certs/client/ca.pem,cert=/certs/client/cert.pem,key=/certs/client/key.pem'
proxies='http://www-proxy1.hrz.uni-marburg.de:3128'
run_qemu_user_static=0
