## BASE IMAGE
base_registry='docker.io'
base_image_path=''
# BASE_REGISTRY_USER with CI variable
# base_registry_user=''
# BASE_REGISTRY_PASS with CI masked variable
# base_registry_pass=''
base_tag=''

## TARGET IMAGE
target_registry='registry.hrz.uni-marburg.de'
target_image_path=''
# TARGET_REGISTRY_USER with CI variable
# target_registry_user=''
# TARGET_REGISTRY_PASS with CI masked variable
# target_registry_pass=''
target_tag=''

## BUILD
pipeline_mode='build'
additional_tags='upgrade'
minor_tag_regex=''
date_tag='1'
date_tag_with_time=''

## UNIMR CONFIG only edit if you know what you are doing
docker_tls_config='host=tcp://docker:2376,ca=/certs/client/ca.pem,cert=/certs/client/cert.pem,key=/certs/client/key.pem'
proxies='http://www-proxy1.hrz.uni-marburg.de:3128'
run_qemu_user_static=0
