## BASE IMAGE
base_registry='docker.io'
base_image_path='gitpod/openvscode-server'
# BASE_REGISTRY_USER with CI variable
# base_registry_user=''
# BASE_REGISTRY_PASS with CI masked variable
# base_registry_pass=''
base_tag='latest'

## TARGET IMAGE
target_registry='docker.io'
target_image_path='stack4ops/as-generic-codephp'
# TARGET_REGISTRY_USER with CI variable
# target_registry_user=''
# TARGET_REGISTRY_PASS with CI masked variable
# target_registry_pass=''
target_tag='latest'

## BUILD
pipeline_mode='build'
additional_tags='upgrade'
minor_tag_regex='^(1\.1\d\d)\.\d+$'
date_tag=''
date_tag_with_time=''
